/* Общие стили */
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Light.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Medium.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Black.ttf");
  font-weight: bolder;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  overflow: hidden;
}
.bg{
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

a{
  color: white;
}

img {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #494947;
}

a {
  text-decoration: none;
}

/* Приветсвенный экран */

#header {
  position: fixed;
  top: 0;
  left: 30%;
  opacity: 1;
  transition: opacity 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 101;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.header::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: -1;
}

.header__logo {
  margin-top: 28vh;
  width: 660px;
}

.text__gray-header {
  margin-top: 1vh;
  font-size: 45px;
  border-bottom: #494947 5px solid;
}

/* Главный экран */

main {
  height: 100vh;
  z-index: -2;
}

.content-df {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__logo{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2vw;
  margin-bottom: 10vh;
  padding-top: 2vh;
}

.text__gray{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  margin-top: 8vh;
}

.img__main {
  width: 15vw;
  margin-left: 2vw;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.option {
  background-color: #0c183b;
  width: 50vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  margin-left: 1vw;
  height: 15vh;
  border-radius: 10px;
  padding-right: 2vw;
  transition: all 0.5s;
  cursor: pointer;
  user-select: none;
}

.option__img {
  background-image: url("../img/arrow.svg");
  width: 2vw;
  height: 4vh;
  background-repeat: no-repeat;
  margin-left: 15vw;
  background-position: 90% 50%;
}

.option__img-reverse {
  animation: changeImageReverse 0.5s forwards ease-in-out;
}

@keyframes changeImage {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    background-image: url("../img/full_arrow.svg");
    background-repeat: no-repeat;
    width: 7vw;
    height: 8vh;
  }
}

@keyframes changeImageReverse {
  0% {
    opacity: 1;
    background-image: url("../img/full_arrow.svg");
    background-repeat: no-repeat;
    width: 7vw;
    height: 8vh;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.option:hover {
  background-color: #193074;
}

.option.fixed-width {
  width: 55vw;
  pointer-events: none;
  .option__img {
    animation: changeImage 0.5s forwards ease-in-out;
  }
}

.option p {
  text-transform: uppercase;
  color: white;
  font-size: 45px;
}

.arrow {
  width: 1vw;
}

.option__img-a {
  background-image: url("../img/arrow.svg");
  width: 2vw;
  height: 4vh;
  background-repeat: no-repeat;
  margin-left: 15vw;
  background-position: 90% 50%;
}

/* Карточки */
::-webkit-scrollbar { display: none; }

.card {
  user-select: none;
  position: relative;
  width: 30vw;
  height: 85vh;
  perspective: 1000px;
  cursor: default;
  margin-right: 3vw;
  transition: all 0.5s;
  position: fixed;
  top: 10vh;
  right: 0;
  transform: translateX(200%);
  transition: transform 0.5s;
}

.card.show {
  transform: translateX(0);
}
.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.5s;
  border-radius: 20px;
}

.card__face--front {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: start;
  color: white;
  padding-left: 1vw;
  padding-top: 5vh;
}

.card__face--front2{
  font-size: 96px;
}

.card__face--front{
  font-size: 80px;
}

.card__bg-rf {
  background-color: rgb(32, 32, 32);
  background-image: url("../img/rf1.png");
  background-repeat: no-repeat;
  background-size: cover;
}


.card__bg-rf2 {
  background-image: url("../img/rf.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.card__face--back {
  background-color: #ffffff;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  gap: 1vw;
  justify-content: center;
  align-items: center;
  padding: 1vh 2vw 1vh 2vw;
  border: 5px solid #494947;
  border-radius: 20px;
}

.card__title{
  font-weight: bold;
  color: #494947;
  font-size: 45px;
  text-align: center;
}

.card__title2{
  font-size: 32px;
}

.card__text{
  font-weight: bold;
  font-size: 23px;
  color: #494947;
}

.card.is-flipped .card__face--front {
  transform: rotateY(180deg);

}

.card.is-flipped .card__face--back {
  transform: rotateY(0deg);
}

/* Подвал */

footer{
  height: 100vh;
  width: 100vw;
  transition: all 0.5s ease-in-out;
}

.map{
  width: 100vw;
  height: 100vh;
}

.map-container{
  position:relative;
  overflow:hidden;
}

.slide__btn{
  display: flex;
  justify-content: center;
  user-select: none;
}

.footer-slide{
  margin-top: 13vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vh;
  height: 12vw;
  width: 12vw;
  border-radius: 100vw;
  background-color: #D9D9D9;
  transition: all 0.5s;
  cursor: pointer;
}

.img-reverse{
  transform: rotateX(180deg);
}

.img__footer-slide{
  margin-top: -8vh;
}

.footer-slide:hover{
  margin-top: 8vh;
}

.footer-slide__text{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
}

.slide__btn-footer{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.footer-slide-up{
  margin-top: 10vh;
}

.footer-slide-up:hover{
  margin-top: 20vh;
}

.footer-slide__text-up{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
  margin-top: 10vh;
}

.img__footer-slide-up{
  margin-top: -0.5vh;
}

/* Контакты */

.contacts{
  position: absolute;
  background-color: #0C183B;
  width: 30vw;
  height: 70vh;
  left: 0;
  top: 20vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  padding: 4vw 2vw 4vw 2vw;
}

.contacts h2{
  color: white;
  font-size: 40px;
}

.contacts p{
  color: white;
  font-weight: normal;
  font-size: 30px;
}

.contacts__img-container{
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.contacts__img{
  width: 2vw;
  height: 100%;
  fill: #cca300;
}

.contacts__img:hover{
  fill: #ffcc00;
}

/* Страница альбома */

/* Шапка */

.header__btn{
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 5vh;
  border: none;
  background-color: #0C183B;
  width: 12vw;
  height: 15vh;
  margin-left: -7vw;
  border-radius:0 1vw 1vw 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  transition: all 0.5s;
  z-index: 100;
}

.header__btn:hover{
  margin-left: 0;
}

.header__btn-text{
  text-transform: uppercase;
  font-size: 30px;
}

.header__btn img{
  width: 4vw;
  transform: rotateY(180deg);
}

/* Альбом */
 
.album{
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-self: center;
  gap: 5vw;
  row-gap: 2vw;
  padding: 0 6vw 0 6vw;
  margin-left: 10vw;
  opacity: 1;
  margin-bottom: 5vh;
}

.card__album {
  position: relative;
  width: 20vw;
  background-color: #fff;
}

.image__album{
  border-radius: 10px;
}

.album__text {
  position: absolute;
  bottom: 1vh;
  left: 0;
  right: 0;
  padding: 0.5vw 2vw 1vw 2vw;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  max-height: 5vh;
  transition: max-height 0.7s;
  border-radius: 10px;
}

.card__album:hover .album__text {
  max-height: 100%;
}

@media (max-width: 1400px) {
  
  .header__logo {
    margin-top: 28vh;
    width: 460px;
  }

  .text__gray-header {
    font-size: 32px;
  }

  .card{
    width: 35vw;
  }

  .text__gray{
    margin-top: 3vh;
    font-size: 25px;
  }

  .card__face--front{
    font-size: 60px;
  }

  .card__text{
    font-size: 18px;
  }

  .footer-slide{
    height: 24vh;
    width: 24vh;
    margin-top: 11vh;
    gap: 1vh;
  }

  .footer-slide__text{
    font-size: 30px;
  }

  .footer-slide:hover{
    margin-top: 6vh;
  }

  .footer-slide-up{
    margin-top: 12vh;
  }

  .footer-slide-up:hover{
    margin-top: 20vh;
  }

  .contacts{
    height: 70vh;
    width: 26vw;
  }

  .header__btn{
    width: 16vw;
    margin-left: -9vw;
  }

  .header__btn img{
    width: 5vw;
  }
}

@media (max-width: 1300px) {
  .text__gray{
    margin-top: 5vh;
  }
  .option__img,
  .option__img-a{
    margin-left: 10vw;
  }

  .card__text{
    font-size: 17px;
  }
  .footer-slide{
    gap: 1vh;
    height: 21vh;
    width: 21vh;
    margin-top: 13vh;
  }

  .footer-slide__text{
    font-size: 25px;
  }

  .img__footer-slide{
    width: 3vw;
  }

  .footer-slide:hover{
    margin-top: 9vh;
  }

  .footer-slide-up{
    margin-top: 12vh;
  }

  .footer-slide-up:hover{
    margin-top: 19vh;
  }

  .contacts{
    height: 55vh;
    width: 20vw;
  }
  
  .contacts p{
    font-size: 18px;
  }

  .header__btn{
    width: 16vw;
    margin-left: -10vw;
  }
  
  .header__btn img{
    width: 5vw;
  }

}